/* loading */

.pre-load {
    display:    block;
    position:   absolute;
    z-index:    100;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255) url('pos.gif') 50% 50%  no-repeat;
    animation: anim 0s ease-out 5.5s forwards;
    animation-fill-mode: forwards;
}


@keyframes anim {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}




*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}




body{
  font-family: "Lato", sans-serif; 
  /*background-image: linear-gradient(blue, purple, red);
  background: url(front.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    overflow-y: hidden;
}


.back{
  min-height: 100%;
  min-width: 100%;
  
  background: url(front.png) no-repeat center center fixed;
  background-size: cover;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}



/* logo */
.logo img{
  max-width: 100%;
  height: auto;
	position: fixed;
	z-index: 1;
	margin-left: 20px;
	margin-top: 10px;
	height: 95px;
	width: 110px;
	transition: all 800ms;
  animation-name: colorchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes colorchange {
  0% {
    
  }
  25% {
  
  }
  50% {
    
  }
  75% {
    
  }
  100% {

  }

}




.logo:hover img{
	transform: scale(1.2);
}


/* side nav bar */
.ham {
	position: fixed;
	right: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* top right buttons */

.top-right-btns{
	  font-size: .8em;
    position: fixed;
    right: 72px;
    top: 37px;
    transform: translateY(-50%);
    z-index: 0;
    
}

.round{
    display: inline-block;
    border-radius: 20px;
    width: 9em;
    border: 2px #000 solid;
    text-align: center;
    margin-right: 15px;
    transition: all 300ms;    
}

.round:hover{
	transform: scale(1.1);
}

.round a{
	color: #000;
}

.round::selection {
  background-color: #FFA;
  color: black;
}

.uppercase{
	text-transform: uppercase;
}



/*   Scrolling  */


#one {
  background-color: cyan;
}

#two {
  background-color: red;
}

#three{
  background-color: green;
}

.inverse{
  filter: invert(1);
}









