@font-face {
    font-family: 'Lemon-Milk';
    src: url('LemonMilk.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon-Milk';
    src: url('LemonMilklightitalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lemon-Milk';
    src: url('LemonMilkbold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon-Milk';
    src: url('LemonMilkbolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lemon-Milk';
    src: url('LemonMilkitalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lemon-Milk';
    src: url('LemonMilklight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

